[buildout]
extends =
    https://raw.github.com/4teamwork/ftw-buildouts/master/test-plone-4.3.x.cfg
    sources.cfg

package-name = ftw.publisher.core


[test]
eggs +=
    plonetheme.onegov
    ftw.publisher.core[tests_plone4]

[versions]
# Products.PloneFormGen >= 1.8 is incompatible with Plone <= 5.x
Products.PloneFormGen = 1.7.12
